<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>New Drugs</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>New Drug</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/drugs}" th:object="${drug}" method="post">
                        <div class="form-group">
                            <label for="nameDrug">Name drug</label>
                            <input type="text" class="form-control" id="nameDrug" aria-describedby="titleHelp" placeholder="Enter title" th:field="*{name}">
                        </div>
                        <div class="form-group">
                            <label for="manufacturer">Manufacturer</label>
                            <select name="Manufacturer" id="manufacturer">
                                <option th:each="manufacturer : ${manufacturers}"
                                        th:text="${manufacturer.getName()}"
                                        th:value="${manufacturer.getId()}"
                                ></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="dateOfApproval">Date Of Approval</label>
                            <input type="date" class="form-control" id="dateOfApproval" aria-describedby="titleHelp" placeholder="Enter title" th:field="*{dateOfApproval}">
<!--                            <p id="dateOfApproval" th:value="${#dates.format(#dates.create(), 'dd/MMM/yyyy HH:mm')}"></p>-->
<!--                            <input name="updateDate" id="updateDate" th:value="${#dates.format(#dates.createNow(), 'dd/MMM/yyyy HH:mm')}"/> -->
                        </div>
                        <div class="form-group">
                            <label for="treatmentFor">Treatment For</label>
                            <input type="text" class="form-control" id="treatmentFor" aria-describedby="titleHelp" placeholder="Enter title" th:field="*{treatmentFor}">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" aria-describedby="titleHelp" placeholder="Enter title" th:field="*{description}">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>